a {
    color: #00b7ff;
}
body {
    background-color: black;
}
img {
    max-width: 100%;
}

#mapid {
    height: 500px;
}
.masthead {
    background-image: url(../img/bg-masthead.jpg);
    height: 500px;
    background-color: rgba(0, 0, 0, 0.5);
}
.title {
    color: cornsilk;
}
